---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "A little about myself",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hello, I'm Brian (n0ughtchill). This is my page dedicated to showcasing my development work
			and a personal blog where I write and share about what I've been learning and all the side
			projects I'm working on. I'm not super great at documenting really anything about myself, but
			I work on so many things I thought it might be a fun habit to get into, if anything so I can
			see my progress and thought process along the way. Potential employers may want to keep
			towards the Portfolio section, unless looking for some deeper insight into who the person who
			applied really is.
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
			/>
		</div>
		<p>Some bulleted facts about myself:</p>
		<ul class="list-inside list-disc">
			<li>My professional development carreer has mostly consisted of React and React Native</li>
			<li>Currently into learning new frameworks on my own time, this blog being done in Astro.</li>
			<li>Large interest in 3d Printing, AI, AGI, Quantum Computing, RC.</li>
			<li>Not that great or interested in boasting about myself.</li>
		</ul>
	</div>
</PageLayout>
